/.git

# Project folders
prototyping/
resources/
scripts/

# Config files
.env
Dockerrun.aws.json
.dockercfg.json
/passenger.3000.log
/passenger.3000.pid.lock
/elb-acm.json
/.env
/server.crt
/.dockercfg
