# Filetypes:
*.pdf
*.zip

# Byte-compiled / optimized / DLL files:
__pycache__/
*.py[cod]

# C extensions stuff:
 *.so

# Distribution / packaging:
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
.nosetests.xml
coverage.xml

# Translations
*.mo

# IDE stuff:
.pydevproject
.settings/
.idea/

# Flask stuff:
.slugignore

# Sphinx documentation stuff:
docs/_build/

# Configuration stuff
.env
.dockercfg.json

# virtualenv
/bolt-env
/env

# logging
logs/

# language models and data
models/language/

# Elastic Beanstalk Files
.ebextensions/01_environment.config
.ebextensions/02_environment.config
/.elasticbeanstalk/

# Prototyping stuff
productEntities.json
productList.txt

# Ignore .ssh
config/docker/production/.ssh
/passenger.3000.log
/passenger.3000.pid.lock
/elb-acm.json
/passenger.3000.pid
/server.crt
/server.key
/config/docker/production/.ssh

/.dockercfg


