# Filetypes:
*.pdf
*.zip

# Byte-compiled / optimized / DLL files:
__pycache__/
*.py[cod]

# C extensions stuff:
 *.so

# Distribution / packaging:
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
.nosetests.xml
coverage.xml

# Translations
*.mo

# IDE stuff:
.pydevproject

# Flask stuff:
.slugignore

# Sphinx documentation stuff:
docs/_build/

# Configuration stuff
.env

# virtualenv
/bolt
/bolt3.4
/bolt-aws

# logging
logs/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

