aniso8601==1.2.0
appdirs==1.4.0
backports.csv==1.0.2
boto==2.45.0
bz2file==0.98
cachetools==2.0.0
cffi==1.9.1
cld2-cffi==0.1.4
click==6.7
cloudpickle==0.2.2
cycler==0.10.0
cymem==1.31.2
Cython==0.25.2
cytoolz==0.8.2
decorator==4.0.11
duckling==1.3.0
Flask==0.12
Flask-HTTPAuth==3.2.1
Flask-RESTful==0.3.5
flexmock==0.10.2
ftfy==4.3.1
fuzzywuzzy==0.14.0
gensim==0.13.4.1
html5lib==0.999999999
ijson==2.3
itsdangerous==0.24
jellyfish==0.5.6
Jinja2==2.9.4
JPype1==0.6.2
MarkupSafe==0.23
marshmallow==2.11.1
matplotlib==2.0.0
murmurhash==0.26.4
networkx==1.11
nltk==3.2.2
numpy==1.12.0
ordereddict==1.1
packaging==16.8
pathlib==1.0.1
pkg-resources==0.0.0
plac==0.9.6
preshed==0.46.4
psycopg2==2.6.2
pycparser==2.17
pyemd==0.4.2
pyparsing==2.1.10
Pyphen==0.9.4
python-dateutil==2.6.0
python-dotenv==0.6.2
python-Levenshtein==0.12.0
pytz==2016.10
requests==2.12.5
scikit-learn==0.18.1
scipy==0.18.1
semver==2.7.4
six==1.10.0
smart-open==1.3.5
spacy==1.6.0
sputnik==0.9.3
SQLAlchemy==1.1.5
textacy==0.3.0
thinc==6.3.0
toolz==0.8.2
tqdm==4.11.2
ujson==1.35
Unidecode==0.4.20
wcwidth==0.1.7
webargs==1.5.2
webencodings==0.5
Werkzeug==0.11.15
wrapt==1.10.8
