aniso8601==1.2.0
appdirs==1.4.0
cachetools==2.0.0
click==6.7
cloudpickle==0.2.2
cymem==1.31.2
cytoolz==0.8.2
dotenv==0.0.5
duckling==1.3.0
Flask==0.12
Flask-HTTPAuth==3.2.2
Flask-RESTful==0.3.5
Flask-SSLify==0.1.5
flexmock==0.10.2
itsdangerous==0.24git s
Jinja2==2.9.5
JPype1==0.6.2
MarkupSafe==0.23
marshmallow==2.12.2
murmurhash==0.26.4
nltk==3.2.2
numpy==1.12.0
packaging==16.8
pathlib==1.0.1
plac==0.9.6
preshed==0.46.4
psycopg2==2.6.2
pyparsing==2.1.10
python-dateutil==2.6.0
python-dotenv==0.6.3
pytz==2016.10
scikit-learn==0.18.1
scipy==0.18.1
semver==2.7.5
six==1.10.0
sklearn==0.0
spacy==1.6.0
sputnik==0.9.3
SQLAlchemy==1.1.5
thinc==6.2.0
toolz==0.8.2
tqdm==4.11.2
ujson==1.35
webargs==1.5.3
Werkzeug==0.11.15
wrapt==1.10.8
