option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: application.py
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1800

    
packages:  
  yum:
    postgresql94-devel: []
    libffi-devel: [] 
    gcc-c++: []
    gcc-gfortran: []
    libpng-devel: [] 
    freetype-devel: []
    lapack-devel: []
    blas-devel: []
    libpng-devel: []
    zlib-devel: []
    atlas-devel: []