option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: application.py
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1800

    
packages:  
  yum:
    postgresql94-devel.x86_64: []
    libffi-devel.x86_64: [] 
    gcc48.x86_64: []
    gcc48-gfortran.x86_64: []
    libpng-devel.x86_64: [] 
    freetype-devel.x86_64: []
    lapack-devel.x86_64: []
    blas-devel.x86_64: []
    libpng-devel.x86_64: []
    zlib-devel.x86_64: []
    atlas-devel.x86_64: []