packages:
  yum:
    postgresql94-devel.x86_64: []
    libffi-devel.x86_64: [] 
    gcc-c++: []
    libpng-devel.x86_64: []  
    freetype-devel.x86_64: []
    lapack-devel.x86_64: []
    blas-devel.x86_64: []

commands:
  00_upgrade_pip:
    command: 'pip install --upgrade pip'
  01_AddGlobalWSGIGroupAccess: 
    command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"