commands:
  01_nltk:
    command: "pip install -U nltk"
  02_nltk:
    command: "/usr/bin/python3 -m nltk.downloader -d /usr/local/share/nltk_data -q all"

container_commands:  
  00_AddGlobalWSGIGroupAccess: 
    command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"