packages:  
  yum:
    make: []
    gcc-c++: []
    gcc-gfortran: []
    libffi-devel: []
    python-devel: []
    atlas-sse3-devel: []
    lapack-devel: []
    libpng-devel: []
    freetype-devel: []
    zlib-devel: []
    postgresql94-devel.x86_64: []
    libsqlite3-dev: []
    blas-devel: []

container_commands:  
  00_AddGlobalWSGIGroupAccess: 
    commlsand: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"