option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ENVIRONMENT
    value: prod
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NLP_SCHEMA
    value: nlp_test
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ACCESS_TOKEN
    value: A8794E78489C939EC113479BDF79
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: BOLT_DB_NAME
    value: shopifyTest
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: BOLT_DB_HOSTNAME
    value: shopifyprod.cr4nxucrj9ml.us-west-2.rds.amazonaws.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: BOLT_DB_PORT
    value: 5432
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: BOLT_DB_USERNAME
    value: liab_db_master
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: BOLT_DB_PASSWORD
    value: f<EFLGgbt+9ttLD
  - namespece: aws:elasticbeanstalk:application:environment
    option_name: SECRET_KEY
    value: MyLittleSecretTeeHee