container_commands:  
  00_AddGlobalWSGIGroupAccess: 
    command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"
  01_WSGIAuthorizationPass:
    command: "if ! grep -q 'WSGIPassAuthorization On' ../wsgi.conf ; then echo 'WSGIPassAuthorization On' >> ../wsgi.conf; fi;"