commands:
  00_download_conda:
    test: test ! -d /home/ec2-user/anaconda
    command: 'wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh'
  01_install_conda:
    test: test ! -d /home/ec2-user/anaconda
    command: 'bash Miniconda3-latest-Linux-x86_64.sh -b -f -p /home/ec2-user/anaconda'
  02_add_conda_to_path:
    test: test ! -f /opt/elasticbeanstalk/.post-provisioning-complete
    command: echo 'export PATH=$PATH:/home/ec2-user/anaconda/bin' >> /root/.bash_profile 
  03_create_env_from_file:
    command: '/home/ec2-user/anaconda/bin/conda env create -f environment.yml'
  04_set_python_path:
    test: test ! -f /opt/elasticbeanstalk/.post-provisioning-complete
    command: echo 'export PYTHONPATH=/home/ec2-user/anaconda/envs/bolt-deployment/bin/python' >> /root/.bash_profile